<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{../static/css/main.css}" type="text/css"/>
    <title>Chat Main</title>
</head>
<body>

<form method="get" th:action="@{/msg/room/new}">
    <button id="makeRoom" type="submit">방 만들기</button>
</form>


<div id="RoomList">
    <!--대화방-->
    <ul th:each="room,index: ${room_list}">
        <form method="post" th:action="@{/msg/chat}" th:object="${RoomDto}">
            <li>
                <input id="user_id" placeholder="아이디를 입력하세요" name="user_id" type="text">
                <p th:text="${room}"></p>
                <input type="hidden" th:value="${room}" name="room_name"/>
                <button type="submit">입장</button>
            </li>
        </form>
    </ul>
</div>


</body>
</html>


